## Data Structures in python

### Strings

In [1]:
a = "hello"

In [2]:
print(a)

hello

In [4]:
a = """
 This is a multi line 
 string!
"""

In [5]:
print(a)

 This is a multi line
 string!

In [10]:
ord('A') #returns the ASCII value

65

In [12]:
chr(65) # returns the char equivalent of ASCII value

'A'

In [1]:
#FORMAT
a = "priyanshu"
b = 3
c = 5

In [5]:
print("{1}-{0}-{2}".format(a,b,c))

3-priyanshu-5

In [6]:
print("{lastname},{firstname}".format(firstname="priyanshu" , lastname="kumar"))

kumar,priyanshu

In [7]:
Fname = "priyanshu"
Lname = "Kumar"

In [10]:
print(f"{Lname},{Fname}") #widely Used

Kumar,priyanshu

In [11]:
a = "       priyanshu              "

In [12]:
print(a.strip())

priyanshu

In [13]:
a = input()

1 2 3 4 5 6

In [15]:
a

'1 2 3 4 5 6'

In [16]:
a.split()

['1', '2', '3', '4', '5', '6']

In [17]:
a = "aaabbbccc"

In [25]:
b =a.replace('a','z')

In [26]:
b

'zzzbbbccc'

In [27]:
a.count('a')

3

In [28]:
a.count('aa')

1

### Tuple in Python

In [1]:
a = (1,2,3,4)

In [ ]:
a[0] = 3 #tuple doesn't support mutation

In [5]:
b = 3
c = 4

In [7]:
print(b,c)

4 3

In [9]:
b,c = c,b #SWAP using tuples

In [10]:
print(b,c)

3 4

#### List to tuple and tuple to a list...

In [11]:
b = (1,2,3)

In [14]:
a = list("priyanshu")

In [23]:
print(a)

['p', 'r', 'i', 'y', 'a', 'n', 's', 'h', 'u']

In [19]:
type(a)

list

In [20]:
c = tuple(a)

In [25]:
print(c)

('p', 'r', 'i', 'y', 'a', 'n', 's', 'h', 'u')

In [26]:
type(c)

tuple

### Returning multiple values from functions(The returned thing is a tuple!)

In [28]:
def addSubtract(a,b):
    return a+b , a-b

In [30]:
c , d = addSubtract(9,3)

In [31]:
print(c)

12

In [32]:
print(d)

6

### Dictionary in Python

In [47]:
a = {
    "name" : "priyanshu",
    "age" : 19,
    "subjects": ["eng" , "match"],
    "friends" : {
        "akash" : "CP",
        "JD" : "stratup",
    }
}

In [48]:
a

{'name': 'priyanshu',
 'age': 19,
 'subjects': ['eng', 'match'],
 'friends': {'akash': 'CP', 'JD': 'stratup'}}

In [49]:
a["subjects"]

['eng', 'match']

In [50]:
for key in a:
    print(key)

name
age
subjects
friends

### Some important dict methods

- get()
- items()
- keys()
- values()
- clear()

In [51]:
for item in a.items():
    print(item)

('name', 'priyanshu')
('age', 19)
('subjects', ['eng', 'match'])
('friends', {'akash': 'CP', 'JD': 'stratup'})

In [52]:
for key,value in a.items():
    print(key , "=>" , value)

name => priyanshu
age => 19
subjects => ['eng', 'match']
friends => {'akash': 'CP', 'JD': 'stratup'}

In [53]:
a.get("name112")

In [54]:
a.clear()

In [55]:
a

{}

#### practice using dictionaries

In [56]:
students = []

In [57]:
n = int(input())

2

In [60]:
for i in range(n):
    roll = int(input())
    name = input()
    branch = input()
    students.append({
        "roll-no" : roll,
        "name" : name,
        "branch" : branch
    })

1
priyanshu
ICE
2
no one
ICE

In [62]:
print(students)

[{'roll-no': 1, 'name': 'priyanshu', 'branch': 'ICE'}, {'roll-no': 2, 'name': 'no one', 'branch': 'ICE'}]

##### Keys in the dictionary can be ANY immutable DS

In [64]:
a = {
    (1,2) : "name"
}

In [68]:
a[(1,2)]

'name'

### Sets in Pyhton

In [72]:
a = set()

In [73]:
a = {1,2,3,4}

In [74]:
b = {3,4,5,6}

In [75]:
a.intersection(b)

{3, 4}

In [76]:
a.union(b)

{1, 2, 3, 4, 5, 6}

In [77]:
a-b

{1, 2}

In [78]:
a = {1,2,3,4,1,2,3,4}

In [79]:
a

{1, 2, 3, 4}

In [80]:
len(a)

4

In [81]:
list(set(a))

[1, 2, 3, 4]