## Data Structures in python

### Strings

In [1]:
a = "hello"

In [2]:
print(a)

hello

In [4]:
a = """
 This is a multi line 
 string!
"""

In [5]:
print(a)

 This is a multi line
 string!

In [10]:
ord('A') #returns the ASCII value

65

In [12]:
chr(65) # returns the char equivalent of ASCII value

'A'

In [1]:
#FORMAT
a = "priyanshu"
b = 3
c = 5

In [5]:
print("{1}-{0}-{2}".format(a,b,c))

3-priyanshu-5

In [6]:
print("{lastname},{firstname}".format(firstname="priyanshu" , lastname="kumar"))

kumar,priyanshu

In [7]:
Fname = "priyanshu"
Lname = "Kumar"

In [10]:
print(f"{Lname},{Fname}") #widely Used

Kumar,priyanshu

In [11]:
a = "       priyanshu              "

In [12]:
print(a.strip())

priyanshu

In [13]:
a = input()

1 2 3 4 5 6

In [15]:
a

'1 2 3 4 5 6'

In [16]:
a.split()

['1', '2', '3', '4', '5', '6']

In [17]:
a = "aaabbbccc"

In [25]:
b =a.replace('a','z')

In [26]:
b

'zzzbbbccc'

In [27]:
a.count('a')

3

In [28]:
a.count('aa')

1

### Tuple in Python

In [1]:
a = (1,2,3,4)

In [4]:
a[0] = 3 #tuple doesn't support mutation

TypeError: 'tuple' object does not support item assignment

In [5]:
b = 3
c = 4

In [7]:
print(b,c)

4 3

In [9]:
b,c = c,b #SWAP using tuples

In [10]:
print(b,c)

3 4

#### List to tuple and tuple to a list...

In [11]:
b = (1,2,3)

In [14]:
a = list("priyanshu")

In [23]:
print(a)

['p', 'r', 'i', 'y', 'a', 'n', 's', 'h', 'u']

In [19]:
type(a)

list

In [20]:
c = tuple(a)

In [25]:
print(c)

('p', 'r', 'i', 'y', 'a', 'n', 's', 'h', 'u')

In [26]:
type(c)

tuple

### Returning multiple values from functions(The returned thing is a tuple!)

In [28]:
def addSubtract(a,b):
    return a+b , a-b

In [30]:
c , d = addSubtract(9,3)

In [31]:
print(c)

12

In [32]:
print(d)

6